<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title><%= locals.title %></title>
	</head>
	<body>
        <h1><%= locals.title %></h1>

        <form action="/folder/new" method="POST">
            <label for="folderName">Folder name:</label>
            <input type="text" name="folderName" id="folderName" required />

            <button type="submit">Submit</button>
        </form>
        <button onclick="location.href='/';">Cancel</button>
	</body>
</html>