<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title><%= locals.title %></title>
	</head>
	<body>
        <h1><%= locals.title %></h1>

        <%- include('partials/errors.ejs') %>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="fileName">File name:</label>
            <input type="text" name="fileName" id="fileName" /> </br>

            <input type="file" name="uploadedFile" />

            <button type="submit">Upload</button>
        </form>
        <button onclick="location.href='/';">Cancel</button>
	</body>
</html>