* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	color: violet;
	background-color: teal
}

.folderList {
	list-style: none;
}

.fileList {

}

.fileDetails {
	list-style: none;
}

.fileDetails h3 {
	display: inline;
	margin-right: 12px;
}